*{
    margin: 0px;
    padding: 0px;
  }
.div1{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: #2455f4;
    height: 60px;
  }
  .div1 li{
    list-style: none;
  }
  .div1 li a{
    text-decoration: none;
  }
  .div2 li {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .div2 li a{
    padding: 0px 20px;
  }
  .pad li a{
    padding: 0px 0px;
  }
  
  #anchor{
    margin-top:  4px;
  }
  .div2 li a input {
    width: 450px;
    height: 33px;
    border: none;
  }
  .div3 li a{
  padding: 0px 30px;
  color: aliceblue;
  
  }
  .div3 li a button{
    width: 100px;
    height: 35px;
  }
  
  /* select */
  #cars{
    border: none;
  }
  
  #cars option{
    border: none;
  }

  .products{
    width: 100%;
    
    background-color: aqua;
    /* margin: auto;   */
    display: grid;
    grid-template-columns: 200px 200px 200px 200px ;
    grid-gap: 80px;
    
    justify-items: center;
  }
  
  .product{
    margin-left:250px;
    width: 350px;
    height: 350px;
  
  }
  /* img{
    
    height: 250px;
  } */
  .imgdisplay{
    width: 200px;
    height: 250px;
  }
  .title{
    text-align: center;
  }
  .navin{
    border: none;
    outline: none;
  }